html {
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    height: 100%;
}



#slides .slide {
    display: none;
}

#slipn .slide {
    display: none;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#slipn .activeSlide {
    z-index: 20;
}

#slipn .resize {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}